/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

$first-color: #d35266;
$second-color: #888;
$third-color: #383838;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Gotham, Helvetica, 'Times New Roman', Times, serif;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
        ==============================================
                    ****** GLOBAL ******
        ==============================================
    */

.navigation {
  background: $third-color;

  .logo {
    font-size: 2rem;
  }

  .special {
    background: $first-color;
  }
}

footer i:hover {
  color: $first-color !important;
}

.nav-link,
footer li {
  color: $first-color !important;
}

.social {
  a i {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    color: rgba(53, 52, 52, 0.8);
  }

  i:hover {
    color: $first-color !important;
  }
}

.nav-link,
.nav-item {
  &:hover {
    color: $first-color !important;
  }

  i:hover {
    color: $first-color !important;
  }
}

.special:hover {
  background: white !important;
  color: $first-color !important;
}

footer li {
  a:hover {
    color: $first-color !important;
  }
}

.search_area {
  background: $first-color;
  position: relative;
}

.search_area .header_bg_logo {
  position: absolute;
  width: 12.3rem;
  top: 0;
  left: 30rem;
  opacity: 0.15;
}

form,
.header_text_wrapper {
  z-index: 1;
}

.book_author {
  color: $first-color;
}

.text_color_1 {
  color: $first-color !important;
}

.text_color_2 {
  color: $second-color !important;
}

.carousel_icon {
  font-size: 4rem;
  color: $second-color;
}

.main_logo {
  font-size: 2.5rem;
}

.border_color_1 {
  border-bottom: solid 0.1rem $first-color;
}

// Flexbox demonstration

.buy_now_wrapper {
  display: flex;
  justify-content: flex-end;
}

.buy_now {
  background: $first-color !important;
  padding: 0.5rem 2rem !important;
  font-size: 1.2rem !important;

  &:hover {
    animation-name: scaling;
    animation-duration: 1.9s;
  }
}

img:hover,
.navbar_logo {
  &:hover {
    animation-name: scaling;
    animation-duration: 1.9s;
  }
}

/* The animation */

@keyframes scaling {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.card_img_wrapper {
  width: 18rem;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .category_links ul,
  .footer_copyright p,
  .about_area p {
    font-size: 1.3rem;
  }

  .social a i {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    color: rgba(53, 52, 52, 0.8);
  }

  .card_img_wrapper {
    width: 26rem;
    height: auto;
  }
}
