/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Gotham, Helvetica, "Times New Roman", Times, serif;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
        ==============================================
                    ****** GLOBAL ******
        ==============================================
    */
.navigation {
  background: #383838;
}

.navigation .logo {
  font-size: 2rem;
}

.navigation .special {
  background: #d35266;
}

.social a i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: rgba(53, 52, 52, 0.8);
}

footer i:hover,
footer li,
.social i:hover,
.nav-link:hover,
.nav-item:hover,
footer li a:hover,
.book_author,
.text_color_1 {
  color: #d35266;
}

li.special a:hover {
  background: white;
  color: #d35266;
}

.search_area {
  background: #d35266;
  position: relative;
}

.search_area .header_bg_logo {
  position: absolute;
  width: 12.3rem;
  top: 0;
  left: 30rem;
  opacity: 0.15;
}

form,
.header_text_wrapper {
  z-index: 1;
}

.text_color_2 {
  color: #888;
}

.carousel_icon {
  font-size: 4rem;
  color: #888;
}

.main_logo {
  font-size: 2.5rem;
}

.border_color_1 {
  border-bottom: solid 0.1rem #d35266;
}

.buy_now {
  background: #d35266;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}

.buy_now:hover {
  -webkit-animation-name: scaling;
  animation-name: scaling;
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
}

img:hover:hover,
.navbar_logo:hover {
  -webkit-animation-name: scaling;
  animation-name: scaling;
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
}

/* The animation */
@-webkit-keyframes scaling {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

@keyframes scaling {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.card_img_wrapper {
  width: 18rem;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .category_links ul,
  .footer_copyright p,
  .about_area p {
    font-size: 1.3rem;
  }

  .social a i {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    color: rgba(53, 52, 52, 0.8);
  }

  .card_img_wrapper {
    width: 26rem;
    height: auto;
  }
}
